.main {
    display: grid;
    grid-template-areas:
    'hd' 
    'nv nv'
    'sc'
    'ft'

    
    ;
}

.header{
    grid-area: hd;
    background-color: blue;
}

.lNav{
    grid-area: nv;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
}

.sNav{
    background-color: orange;
}

.section{
    grid-area: sc;
    background-color: yellow;
}


.footer{
    grid-area: ft;
    background-color: green;
}