.main {
  display: grid;
  grid-template-areas:
    "hd"
    "nv nv"
    "he"
    "sc"
    "ft";
}

.header {
  grid-area: hd;
  background-color: #8B4513;
  border-radius: 20px;
}



.headImg {
  display: block;
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.lNav {
  grid-area: nv;
  display: flex;
  justify-content: space-evenly;
}

.sNav {
  text-align: center;
  width: 30%;

}

.sNavImg{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.section {
  grid-area: sc;
  background-color: #8B4513;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px
}

.sectionH1{
  text-align: center;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.sectionP{
  text-align: center;
  font-size: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.footer {
  display: flex;
  grid-area: ft;
  background-color: #8B4513;
  justify-content: space-evenly;
}

.secondPageHero {
  grid-area: he;
  display: flex;
  height: 700px;
  justify-content: center;

}

.heroImg{
  height: 100%;
  border-radius: 20px;
}

.intro {
  background-color: #8B4513;
  text-align: center;
  border-radius: 20px;
}

.introText {
  font-size: 50px;
}

.inspoContainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  height: 1120px;
  width: 100%;
}

.inspoContent {
  display: flex;
  grid-column: auto;
  background-color: #8B4513;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  gap: 20px;
  height: 500px;
  width: auto;
}

.inspoImg{
  border-radius: 20px;
}

.ravarorContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.ravarorContent {
  display: flex;
  grid-column: auto;
  background-color: #8B4513;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  gap: 20px;
}

.ravarorImg {
  height: 100%;
  width: 100%;
}

p {
  font-size: 30px;
  color: #f5deb3;
}

h2 {
  font-size: 30px;
  color: wheat;
}

h1 {
  color: wheat;
}

#my {
  zoom: 50%;
}