.main {
    display: grid;
    grid-template-areas:
    'hd' 
    'nv nv'
    'he'
    'sc'
    'ft'

    
    ;

}

.header{
    grid-area: hd;
    background-color: blue;
}

.lNav{
    grid-area: nv;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    
}

.sNav{
    background-color: orange;
    text-align: center;
    border-radius: 20px;
    width: 20%;
}

.section{
    grid-area: sc;
    background-color: yellow;
}


.footer{
    grid-area: ft;
    background-color: green;
}

.secondPageHero{
    grid-area: he; 
    background-color: red;
}

.inspoContainer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: orange;
    padding: 10px;
}

.inspoContent{
    grid-column: auto;
    background-color: aquamarine;
}